<div id="dead-center">
	<span class="fancy large">Nicholas Crandall</span>
	<span class="fancy medium">
		<%= link_to "Entrepreneur", startups_path %> &nbsp;
		<%= link_to "Rails Developer", rails_path %> &nbsp;
		<%= link_to "Freelancer", freelance_path %> &nbsp;
	</span>
</div>