<div id="dead-center">
	<span class="large">Nicholas Crandall</span>
	<span class="small">
		<%= link_to "Entrepreneur", startups_path %> &nbsp;
		<%= link_to "Rails Developer", projects_path %> &nbsp;
		<%= link_to "Freelancer", freelance_path %> &nbsp;
	</span>
</div>