@import "bootstrap";

@font-face {
	font-family: "standard-font";
	src: url('/latest.ttf')
}

html, body{
	height: 100%;
	font-family: standard-font !important;
	font-size: 16px;
	background-color: #EEE;
}

h1 {
	font-size: 22pt !important;
	font-weight: normal !important;
}

h2 {
	font-size: 20pt !important;
	font-weight: normal;
}

h3 {
	font-size: 18pt !important;
	font-weight: normal;
}

h4 {
	font-size: 16pt !important;
}

h5, h6 {
	font-size: 16pt !important;
	font-weight: normal;
}

label, input, button, select, textarea {
	font-size: inherit;
}
.wrap {
	height: 100%;
	width: 100%;
	display: inline-block;
	margin: 0 0 -25px;
	padding: 0;
	position: relative;
}

.left-column {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	float: left;
	width: 300px;
	margin: 0;
	padding-left: 20px;
	color: #FFF;
	background-color: #333;
	h1 {
		a {
			color: #FFF;
		}
		a:hover {
			color: #CCC;
		}
	}
	a {
		color: #FFF;
	}
	a:hover {
		color: #CCC;
	}
}

.right-column {
	padding-left: 60px;
	width: 900px;
	margin-left: 300px;
}

.name {
	a {
		color: $grayDark;
		font-weight: bold;
	}
	a:hover {
		text-decoration: none;
		color: $grayDark;
	}
}

.nav {
	a {
		@include border-radius(10px);
		position: relative;
		font-size: 18pt;
		line-height: 2;
		margin: 5px;
		padding: -10px 0 0 10px;
		.icon {
			display: none;
			position: absolute;
			top: 20px;
			right: 0;
		}
	}
	a:hover {
		background: none !important;
		.icon {
			display: inline-block;
		}
	}
}

a:hover {
	text-decoration: none !important;
}

.large {
	font-size: 46pt;
}

.medium {
	font-size: 26pt;
}

.small {
	font-size: 16pt;
}

#dead-center {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 500px;
	height: 100px;
	text-align: center;
}

#footer {
	height: 25px;
	color: $white;
	position: absolute;
	bottom: 0;
}