@import "bootstrap";

@font-face {
	font-family: "standard-font";
	src: url('/latest.ttf')
}

html, body{
	height: 100%;
	font-family: standard-font !important;
}

h1 {
	font-size: 22pt !important;
	font-weight: normal !important;
}

.name {
	a {
		color: $grayDark;
	}
		a:hover {
		text-decoration: none;
		color: $grayDark;
	}
}

.nav {
	a {
		@include border-radius(10px);
		position: relative;
		font-size: 18pt;
		line-height: 2;
		margin: 5px;
		padding: -10px 0 0 10px;
		.icon {
			display: none;
			position: absolute;
			top: 20px;
			right: 0;
		}
	}
	a:hover {
		background: none !important;
		.icon {
			display: inline-block;
		}
	}
}

a:hover {
	text-decoration: none !important;
}

.large {
	font-size: 46pt;
}

.medium {
	font-size: 26pt;
}

.small {
	font-size: 16pt;
}

#dead-center {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	width: 500px;
	height: 100px;
	text-align: center;
}

#wrap {
	height: 100%;
	margin: 0 auto -25px;
}

#footer {
	height: 25px;
}